*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.canvas-container {
  flex-grow: 1;
  overflow: auto;
  padding: 2rem;
}

.header {
  background-color: #ffffff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.button {
  background-color: #ffffff;
  color: white;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #1d4ed8;
}

.node-box {
  fill: #f0f0f0;
  stroke: #666;
  stroke-width: 5.5;
  border-radius: 8px;
  padding: 20px;
}

.node-text {
  font-size: 300rem;
  fill: #ffffff;
  font-weight: bold;
  text-align: center;
}

#tree-container, #svg-container, svg {
  width: 100%;
  height: 100%;
}

.connection-line, path {
  stroke: #333;
  stroke-width: 50px;
  fill: none;
}

#svg-scroll-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #ccc; /* Optional: add a border for visibility */
}

svg {
  min-width: 3000px; /* Set a minimum width for the SVG */
  min-height: 2000px; /* Set a minimum height for the SVG */
}
